@import "./normalize.css";
:root {
  --color-primary: #4f5bff;
  --color-secondary: #4fb9ff;
  --color-tertiary: #53fff1;
  --color-accent: #ff3400;
  --color-headings: #e2e2e2;
  --color-body: #f1f1f1;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
  background-color:#238cde;
}

input {
  vertical-align:middle;
}

p {
  letter-spacing: 1px;
text-transform: uppercase;
font-size: 42px;
  margin-top: -50px;
  text-align: center;
  margin-right:-40px;
}


h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

.block__heading {
  margin-top: 100px;
  text-transform: uppercase;
font-size: 62px;
text-align: center;
}


.inputDetails1{ /*this should center the login details*/
margin: 0 auto;
Height: 200px;
width:600px;
border-radius: 7px;
font-size: 28px;
text-align: left;
margin-top:-110px;
  margin-right:865px;
font-size: 3.5rem;
color: #d7dfe9;
letter-spacing: 1px;
  /* margin: 2rem 0 5rem; */
}



.Textinput{
width:100%;
height:60px;
border: 3px solid black;
border-radius: 5px;
margin:30px;
background-color: white;
  font-size: 28px;

}

.Submitbutton[type=submit]{
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top:-60px;
margin-left: 200px;


}

.Submitbutton[type=submit]:hover {
background-color: lightgrey;
}

input[type=text][type=password] {
width: 50%;
padding: 12px 20px;
box-sizing: border-box;
border: 3px solid #ccc;
-webkit-transition: 0.5s;
transition: 0.5s;
outline: none;
}

input[type=text]:hover {
border: 3px solid #555;
background-color: white;
}
input[type=password]:hover {
  border: 3px solid #555;
  background-color: white;
  }

block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: left;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 100px;
  text-transform: uppercase;
}

.block--dark {
  background: dodgerblue;
  background: url(../images/brighton_bg.jpg) dodgerblue;
  background-size: cover;
  /* filter: blur(3px); */
  color: #7b858b;
}

.block--light {
  background: var(--color-secondary);
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: rgb(238, 238, 238);
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.block--skewed-curve {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: ellipse(100% 60% at 50% 40%);
}

.container {
  max-width: 1140px;
  margin: 3rem auto;
}
/* hr --------------------------------------------------------------------------------------------------- */

hr {
  margin: 50px 0;
  border: 0.1rem solid rgb(51, 51, 51);
  border-radius: 10px;
  width:685px;
  background-color:black;
  margin-top:20px;
  margin-left:800px;
}
.hero__tagline {
  font-size: 4rem;
  color: #d7dfe9;
  letter-spacing: 1px;
  /* margin: 2rem 0 5rem; */
 margin-top: -30px;
  text-align: center;
}
/* Lists ---------------------------------------------------------------------------------------------- */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* Buttons ---------------------------------------------------------------------------------------------- */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--outline {
  background: #fff;
  //color: rgb(48, 48, 48);
  border: 3px solid var(--color-primary);
}

.btn--outline:hover {
  background: var(--color-primary);
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 2rem;
    width: 50%;
    margin: 100px auto;
  }
}
/* Navigation Bar ------------------------------------------------------------------------------------------ */

.nav {
  background: rgba(88, 180, 255, 0.486);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  position: fixed;
  z-index: 99;
  text-transform: uppercase;
  margin-top:-90px;
  min-width: 100%;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

/* .nav__item:last-of-type {
  border-bottom: none;
} */

.nav__item > a {
  color: #dddddd;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  width: 70px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 2rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }

  .active {
    border-bottom: 3px solid var(--color-primary);
  }

  .highlight {
    padding: 0.8rem;
    border-radius: 15px;
    background: var(--color-primary);
  }
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

a:hover {
  opacity: 0.7;
}


.Signup{
     border-radius: 40px;
  background-color:white;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top:-90px;
margin-left: 200px;
}


/* Footer ------------------------------------------------------------------------------------------------ */

.footer {
  background: #424954;
  padding-top: 6rem;
  margin-top:350px;
}


.border{
border: 6px solid white;
  border-radius: 10px;  width:685px;
  height:490px;
  margin-top:-130px;
  margin-left:800px;}
}


